<!DOCTYPE html>
<html>
<head>
  <title>Bank2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to 'Login', new_session_path %>
	<%= link_to 'Sign up', new_user_path %>

  <%= yield %>

  <div id="content">
    <div id="nav">
      <div id="title">Bank of GA</div>
    </div>
    <div class="account" id="checkingAccount">
      <h1>Checking</h1>
      <div class="balance" id="balance1">$0</div>
      <input id="checkingAmount" type="text" placeholder="enter an amount" />
      <input id="checkingDeposit" type="button" value="Deposit" />
      <input id="checkingWithdraw" type="button" value="Withdraw" />
    </div>
    <div class="account" id="savingsAccount">
      <h1>Savings</h1>
      <div class="balance" id="balance2">$0</div>
      <input id="savingsAmount" type="text" placeholder="enter an amount" />
      <input id="savingsDeposit" type="button" value="Deposit" />
      <input id="savingsWithdraw" type="button" value="Withdraw" />
    </div>
    <div class="clear"></div>
  </div>

</body>
</html>
